@charset "utf-8";

/*////////////////ELEMENTOS GENERALES/////////////*/
.ui-page{background-color:#eaedf1 !important;}
.ui-bar-b .ui-title{padding-left:30px !important; background-color:#2189e2 !important;text-align:left !important;}
.ui-bar-b .ui-btn-b,.ui-bar-b .ui-btn-right{padding:0px;background-color:transparent !important; border:0px; box-shadow:none;}
.error{color:#FF0000;font-size:.8em}
.good{color:#04B404;font-size:.8em}
.ui-content{padding-top:0px;}
.leer{display:block;margin-top:.6em;}
h2{font-size:1em;margin-top:20px;}
.titulodown a{background:#0a4b81 !important;color:#fff !important;text-shadow:none !important;font-size:.8em;}
.ui-listview>li a{ font-size:.9em;}
.yo th{background:#5882FA !important;font-weight:bold; color:#fff;text-shadow:none;}
.yo td{background:#5882FA !important;font-weight:bold; color:#fff;text-shadow:none;}
#pageranking .ui-table th {font-size:.813em !important;}
#pageranking .ui-table td {font-size:.813em !important;}
.hide{opacity:0;}
#resgeo{display:none;}
.titular{border-bottom:thin solid #b9d3e9;color:#2189e2;font-weight:normal;text-shadow:none;width:90%;margin-left:auto;margin-right:auto;margin-top:15px;padding-bottom:10px;font-size:1.250em;}

/*////////////////POPUPs/////////////////////////*/
.ui-page .ui-popup .ui-title{background-image:none;background:#eaedf1 !important;color:#fff;font-size:1em;text-shadow:none;height:auto;padding:10px 0px 10px 0px !important;}
.ui-popup h3{font-size:.9em;padding-top:10px;}
.ui-popup a i{display:inline-block;font-size:1.5em;padding-right:10px;vertical-align: middle}
.ui-popup a span{display:inline-block;font-size:1em;vertical-align: middle}
.ui-popup{background:#fff !important;}

/*////////////////HEADER/////////////////////////*/
.ui-bar-z{height:90px;}/*Header Menu Page*/
.ui-bar-z .ui-title{height:90px !important;}
.ui-page .ui-title {background-size:167px 23px;background-position:center center;height:50px;background-repeat: no-repeat;margin:0px 0px !important;padding:0px !important;}
.salir span,.options span{font-size:2em !important; text-shadow:none;}
.options span{margin-left:0px !important;margin-top:10px;}

/*.salir span,.options span{font-size:24px;}*/

/*/////////////LOGIN ELEMENTS //////////////////*/
/*estructura centrado vertical*/
#pageadmin{height:100% !important;}
#pageadmin .ui-content {position:relative;padding:0px !important;height:90%;}
#pageadmin #centrador{text-align: center;height:100%;}
#pageadmin #centrador:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
#pageadmin #centro{display: inline-block;vertical-align: middle;width: 260px;}
#pageadmin #centro h1{margin:0px;padding:0px;text-align:center;}
#pageadmin{margin-bottom:0px !important;padding-bottom:0px !important;}
/*logo inicial*/
#logoBig{width:260px;}
/*formulario*/
#email{font-size:1em;}
#pass{font-size:1em;}
#pruebacss{display:none;}
#login{font-size:1em; padding:.6em 0em .6em 0em !important;text-align:center;margin-bottom:0px;background-color:#034a80 !important;color:#fff;border:none;text-shadow:none;}
.registrobtn{font-size:1em; background-color:#f4f5f5 !important;padding-top:.6em;padding-bottom:.6em;border:none;text-shadow:none;color:#333;margin-bottom:0em;margin-left:auto;margin-right:auto;}
#pageadmin form {border-top:dashed .1em #ccc; padding-top:1.1em;}
/*facebook connect made*/
#fconnect{margin-bottom:1.4em;background-color:#3c5897 !important;color:#fff;border:none;text-shadow:none;}
#fconnect span{font-size:.8em;display:inline-block;vertical-align: middle;font-weight:normal;}
#fconnect strong{font-size:1em;}
#fconnect i{display:inline-block;background-image:url(../imagenes/facebook-32.png);background-size:16px; width:16px;height:16px;margin-right:.6em;vertical-align: middle;}

/*//////////////////REGISTRO////////////////////*/
#registrar{font-size:18px;font-weight:normal;padding:10px !important;position:relative;width:240px;margin-left:auto;margin-right:auto;margin-bottom:30px;background-color:#034a80 !important;color:#fff;border:none;text-shadow:none;}
#registrar i{position:absolute;font-size: 24px;top:10px;left:17px;}

/*//////////////////TERMINOS////////////////////*/
#pageterminos p {text-align:justify;font-size:.8em;margin:.2em 0em .2em 0em;}

/*/////////////////MENU PRINCIPAL////////////////*/
.ui-footer.ui-bar-z{
	position:absolute !important;
	left:50% !important;
	width:250px;
	margin-left:-125px;
	bottom:0px !important;
}
#zocalo {
	position:absolute;
	z-index:200;
	margin:0px;
	padding:0px;
	text-align:center;
	bottom:5px;
	width:250px;
}
#zocalo li{
	display:inline-block;
	list-style-type: none;
}
#zocalo li a{
	color:#2189e2;
	font-size:0.938em;
	text-decoration:none;	
}
.home{
	background-image:url(../img/home-icon-xhdpi.png);
	background-repeat:no-repeat;
	display:block;
}
.catalogo{
	background-image:url(../img/catalogo-icon-xhdpi.png);
	background-repeat:no-repeat;
	display:block;
}
.geo{
	background-image:url(../img/geo-icon-xhdpi.png);
	background-repeat:no-repeat;
	display:block;
	margin-left:20px;
	margin-right:20px;
}
.noleft{
	margin-left:0px !important;
}
.cerrar span{
	font-size:2.500em;
	margin-left:27px;
	color:#2189e2 !important;
}
.manual{
	background-image:url(../img/manual-icon-xhdpi.png);
	background-repeat:no-repeat;
	display:block;
}
.share{
	background-image:url(../img/share-icon-xhdpi.png);
	background-repeat:no-repeat;
	display:block;
}
#zocalo-img{
	position:absolute;
	left:50%;
	margin-left:-160px;
	bottom:0;
}
.swiper-container {
        width: 100%;
        height: 100%;
        max-width:320px;
        height:270px;
 }
 .swiper-container{position:absolute !important;top:50% !important;margin-top:-135px !important;}
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: transparent;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-slide img{
    	width:100%;
    }
#pagemenuppal .ui-bar-a{background:none !important;border:none !important;margin-bottom:20px;}
.menuicon{font-size:49px; color:#fff;}
.menup a{margin-left:auto;margin-right:auto;background-color:#034a80 !important;padding:25px !important;width:49px !important;border-radius:100px !important;}
.menup p{font-size:12px !important; color:#034a80 !important;}

/*//////////////////CATALOGO////////////////////*/

/*/////////////////////////////////////////////*/

/*/////////////////GEO////////////////////////*/
.geoconfig span{
	text-shadow:none;
	margin-top:10px;
	font-size:2em;
}
.buscando{
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-130px;
	margin-top:-70px;
}
.buscando span{
	font-size:6em;
	color:#2188e0;
}
.buscando p{
	font-size:1.5em;
	color:#2188e0;
}
#stores h2{
	color:#2189e2;
}
#stores h2 strong{
	color:#000;
}
#stores li a span{
	font-size:1.5em;
	color:#2189e2;
}
.left{float:left;display:block;width:260px;}
.right{float:right;}
/*///////////////////////////////////////////*/

/*//////////////////CATALOGO////////////////*/
#catalogo{background:#fff !important;background-color:#fff !important;}
#catalogo img {max-width:310px;}
.filtrar span{
	font-size:2em !important;
	margin-left:0px !important; margin-top:10px;
}
#myfilter{
	width:190px;
}
#myfilter span{
	position:relative;
	float:left;
	height:19px;
	margin:2px 5px 0 10px;
	color:#035a93;
	font-size:13px;
}
#filtros a{
	/*position:relative;
	float:left;
	height:17px;
	margin:0 5px;
	padding:5px 2px 0 2px;
	font-size:11px;
	display:inline-block;
	background-repeat:no-repeat;
	cursor:pointer;*/
}
.col12{width:100%;display:block;float:left;}
a.cal1,a.cal2,a.cal3,a.cal4,a.cal5{font-size:0.688em;display:block;float:none;padding-top:5px;padding-bottom:3px;margin-bottom:10px;padding-left:15px;font-weight:normal;text-shadow:none;margin-left:10px;}
a.cal1{background-image:url(../img/calibres.gif);background-position:0px 0px;width:44px;color:#666;}
a.cal2{background-image:url(../img/calibres.gif);background-position:-80px 0px;width:43px;color:#666;}
a.cal3{background-image:url(../img/calibres.gif);background-position:-157px 0px;width:46px;color:#666;}
a.cal4{background-image:url(../img/calibres.gif);background-position:-234px 0px;width:57px;color:#666;}
a.cal5{background-image:url(../img/calibres.gif);background-position:-324px 0px;width:57px;color:#666;}

a.cal5{margin-right:0px;}
a.civi,a.depo,a.fuer{margin-top:15px;display:block;background-repeat:no-repeat;padding-left:30px;padding-top:5px;text-shadow:none !important;color:#b1b1b1;margin-left:10px;font-size:0.750em;font-weight:normal;}
a.civi{background-image:url(../img/civil-icon.gif);background-position:0px 0px;}
a.depo{background-image:url(../img/deportivo-icon.gif);background-position:0px 0px;}
a.fuer{background-image:url(../img/fuerza-icon.gif);background-position:0px 0px;}
a.niqu{display:inline-block;width:22px;height:22px;margin-left:10px;background-image:url(../img/niquel.gif);background-position:0px 0px;}
a.dost{display:inline-block;width:22px;height:22px;margin-left:20px;margin-right:20px;background-image:url(../img/dostonos.gif);background-position:0px 0px;}
a.pavo{display:inline-block;width:22px;height:22px;background-image:url(../img/pavon.gif);background-position:0px 0px;}
#myfilter a#clear{
	position:relative;
	padding:0;
	margin-top:25px;
	display:block;
	font-size:1em;
	font-weight:normal;
	text-shadow:none;
	cursor:pointer;
	display:inline-block;
}
#clear span{font-size:2.250em !important;display:inline-block;margin-top:-10px;}

a.cal1:hover,a.cal2:hover,a.cal3:hover,a.cal4:hover,a.cal5:hover,a.cal1.current,a.cal2.current,a.cal3.current,a.cal4.current,a.cal5.current{font-size:0.688em;display:block;float:none;padding-top:5px;padding-bottom:3px;margin-bottom:10px;padding-left:15px;font-weight:normal;text-shadow:none;margin-left:20px;}
a.cal1:hover, a.cal1.current{background-position:0px -22px;color:#FFF;}
a.cal2:hover, a.cal2.current{background-position:-80px -22px;color:#FFF;}
a.cal3:hover, a.cal3.current{background-position:-157px -22px;color:#FFF;}
a.cal4:hover, a.cal4.current{background-position:-234px -22px;color:#FFF;}
a.cal5:hover, a.cal5.current{background-position:-325px -22px;color:#FFF;}
/*a.cal1:hover,a.cal2:hover,a.cal3:hover,a.cal4:hover,a.cal5:hover,a.cal1.current,a.cal2.current,a.cal3.current,a.cal4.current,a.cal5.current{background-color:#2189e2;font-size:1em;text-shadow:none;color:#fff;padding:5px 10px; border-radius:20px;}*/
a.civi:hover, a.civi.current{background-position:0px -25px;color:#2189e2;}
a.depo:hover, a.depo.current{background-position:0px -25px;color:#2189e2;}
a.fuer:hover, a.fuer.current{background-position:0px -25px;color:#2189e2;}
a.niqu:hover, a.niqu.current{background-position:0px -22px;}
a.dost:hover, a.dost.current{background-position:0px -22px;}
a.pavo:hover, a.pavo.current{background-position:0px -22px;}
		
/*//////////////////MENU LATERAL////////////////*/
#mypanel{background:#fff;width:100px;}
/*#mypanel{width:140px;}
#mypanel{width:140px;background:#fff;height:100%;}
#mypanel .nave{font-size:1.25em;padding-top:20px;}
#mypanel .ui-listview{border:none;background:none;box-shadow: none;margin:0px;padding:0px;}
#mypanel .ui-listview a{display:block; margin-left:10px;border:none; padding:20px; width:35px !important; text-align:center; border-radius:40px;margin-bottom:15px;}
#mypanel .ui-listview a i{color:#fff; font-size:2.5em;}
#mypanel a.cerrar{padding:10px;background:none;margin-left:20px;}
#mypanel a.cerrar span{color:#666;font-size:2em;}
*/

#catalogo :not(INPUT):not(TEXTAREA) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


/*//////////////////FOOTER GENERAL//////////////*/
.firma{float:right;margin-right:1.25em;font-size:.6em;margin-top:2em;}
.firma span{display:inline-block;vertical-align:middle;background-image:url(../imagenes/logomedapps.png);background-size:100px 19px; width:100px;height:19px;}
.volver{float:left; margin-left:1.25em;}
.volver i{font-size:2.5em;}

/*IMAGENES SEGUN DPIs*/
@media screen and (-webkit-device-pixel-ratio: 1){
	#logop{width:180px;height:90px;}
.ui-page .ui-title {}
.home,.catalogo,.geo,.manual,.share{background-size:65px 65px;width:65px;padding-top:70px;}
.logo-wh{height:40px;padding-left:30px;margin-top:3px;}
.page-icon{	height:40px;}
}
@media screen and (-webkit-device-pixel-ratio: 1.5){/*Xperia M2*/
	#logop{width:180px;height:90px;}
.ui-page .ui-title {}
.home,.catalogo,.geo,.manual,.share{background-size:65px 65px;width:65px;padding-top:70px;}
.logo-wh{height:40px;padding-left:30px;margin-top:3px;}
.page-icon{	height:45px;}
}
@media screen and (-webkit-device-pixel-ratio: 2){
#logop{width:120px;height:60px;}
.ui-page .ui-title {padding-top:10px !important;}
.options span,.filtrar span,.geoconfig span{margin-top:20px;}
.home,.catalogo,.geo,.manual,.share{background-size:65px 65px;width:65px;padding-top:70px;}
.logo-wh{height:30px;padding-left:30px;margin-top:10px;}
.page-icon{	height:45px;}
}
@media screen and (-webkit-device-pixel-ratio: 3){
#logop{width:216px;height:90px;}
.ui-page .ui-title {padding-top:60px;}
.home,.catalogo,.geo,.manual,.share{background-size:65px 65px;width:65px;padding-top:70px;}
.logo-wh{height:23px;padding-left:30px;margin-top:20px;}
.page-icon{	height:23px;margin-top: 15px;}
.ui-bar-z{padding-top:20px;height:110px !important;}
.swiper-container.swiper-container-horizontal {
  margin-left: 30px;
}
.options span{margin-top:12px !important;}
.catalogo-icon{margin-top:90px;}
}